/* DON'T TOUCH THIS! */

/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

   body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.title-text {
    font-size: 36px;
    color: white;
    background: #2e354f;
    text-transform: uppercase;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}

.container {
    width: 650px;
    margin: 50px auto;
    
}

.section-title {
    text-transform: uppercase;
}

.underlined {
    color: orange; 
    text-decoration: underline;
}

.btn {
    display: inline-block;
    background: darkorange;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    text-decoration: none;
}